<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server = localhost\SQLEXPRESS; Database = LOGIN_MANAGER; Integrated Security = true; TrustServerCertificate = true;" name="Login" />
		<add connectionString="Server = localhost\SQLEXPRESS; Database = FRONTEND_RESERVATION; Integrated Security = true; TrustServerCertificate = true;" name="Reservation" />
	</connectionStrings>
</configuration>